@import "../responsive/media-queries";

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbfbf7;
    
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem;
        @include desde1024px {
            margin: 2rem;
        }
        @include desde768px {
            margin: 1rem;
        }
    }
    
    &-text {
        font-family: 'Oswald', sans-serif;
        font-size: 2rem;
        color: rgb(25, 25, 26);
        text-transform: uppercase;
        width: 75%;
        text-align: center;
        @include desde768px {
            font-size: 1.8rem;
            width: 90%;
        }
        @include desde650px {
            font-size: 1.5rem;
        }
        @include desde425px {
            font-size: 1.2rem;
        }
        
    }

    &-education {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        background: url(../../../images/line_background.svg);
        @include desde768px {
            padding: 1rem;
        }
    }

    &-certificate {
        width: 65%;
        box-shadow:  -15px 15px 30px #646463,
             15px -15px 30px #ffffff;
        margin: 2rem;
        @include desde768px {
            width: 85%;
        }
    }
}


.slider {
    width: 82%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    @include desde1024px {
        width: 76%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    @include desde768px {
        width: 86%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    &-container {
        height: 250px;
        @include desde768px {
            height: 150px;
        }
    }
    
    &-box {
        align-items: center;
    }
    
    &-content {        
        height: 200px;
        @include desde1024px {
            height: 150px;
        }
        @include desde768px {
            height: 125px;
        }
        @include desde550px {
            height: 100px;
        }
        @include desde425px {
            height: 85px;
        }
    }
    
    &-img {
        width: 100%;
        height: 100%;
    }
}

.wave-up {
    transform: rotate(180deg);
    position: relative;
    top: 1px;
}

.wave-down {
    position: relative;
    bottom: 1px;
}

.splide__arrow--prev {
    @include desde650px {
        left: -1em;
    }
    @include desde425px {
        left: -2em;
    }
    @include desde425px {
        display: none;
    }
}

.splide__arrow--next {
    @include desde650px {
        right: -1em;
    }
    @include desde425px {
        right: -2em;
    }
    @include desde425px {
        display: none;
    }
}